.coins-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.penny {
  background-color: #AD6F69;
}

.nickel {
  background-color: grey;
}

.dime {
  background-color: grey;
}

.quarter {
  background-color: grey;
}
